<h1>Listing labeling_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Internal price</th>
    <th>Nonprofit price</th>
    <th>Commercial price</th>
    <th>Description</th>
    <th>Starting amount</th>
  </tr>

<% @labeling_options.each do |labeling_option| %>
  <tr>
    <td><%=h labeling_option.name %></td>
    <td><%=h labeling_option.internal_price %></td>
    <td><%=h labeling_option.nonprofit_price %></td>
    <td><%=h labeling_option.commercial_price %></td>
    <td><%=h labeling_option.description %></td>
    <td><%=h labeling_option.starting_amount %></td>
    <td><%= link_to 'Show', labeling_option %></td>
    <td><%= link_to 'Edit', edit_labeling_option_path(labeling_option) %></td>
    <td><%= link_to 'Destroy', labeling_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New labeling_option', new_labeling_option_path %>