<h1>Listing microarrays</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Facility Internal price</th>
    <th>Facility Nonprofit price</th>
    <th>Facility Commercial price</th>
    <th>User Internal price</th>
    <th>User Nonprofit price</th>
    <th>User Commercial price</th>
    <th>Number per slide</th>
    <th>Organism</th>
    <th>Application</th>
    <th>Platform</th>
    <th>Catalog number</th>
  </tr>

<% @microarrays.each do |microarray| %>
  <tr>
    <td><%=h microarray.name %></td>
    <td><%=h microarray.facility_internal_price %></td>
    <td><%=h microarray.facility_nonprofit_price %></td>
    <td><%=h microarray.facility_commercial_price %></td>
    <td><%=h microarray.user_internal_price %></td>
    <td><%=h microarray.user_nonprofit_price %></td>
    <td><%=h microarray.user_commercial_price %></td>
    <td><%=h microarray.number_per_slide %></td>
    <td><%=h microarray.organism.name %></td>
    <td><%=h microarray.application.name %></td>
    <td><%=h microarray.platform.name %></td>
    <td><%=h microarray.catalog_number %></td>
    <td><%= link_to 'Show', microarray %></td>
    <td><%= link_to 'Edit', edit_microarray_path(microarray) %></td>
    <td><%= link_to 'Destroy', microarray, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New microarray', new_microarray_path %>
