<p>
  <b>Name:</b>
  <%=h @microarray.name %>
</p>

<p>
  <b>Facility Internal Price</b>
  <%=h @microarray.facility_internal_price %>
</p>

<p>
  <b>Facility Nonprofit Price</b>
  <%=h @microarray.facility_nonprofit_price %>
</p>

<p>
  <b>Facility Commercial Price</b>
  <%=h @microarray.facility_commercial_price %>
</p>

<p>
  <b>User Internal Price</b>
  <%=h @microarray.user_internal_price %>
</p>

<p>
  <b>User Nonprofit Price</b>
  <%=h @microarray.user_nonprofit_price %>
</p>

<p>
  <b>User Commercial Price</b>
  <%=h @microarray.user_commercial_price %>
</p>

<p>
  <b>Number per slide:</b>
  <%=h @microarray.number_per_slide %>
</p>

<p>
  <b>Organism:</b>
  <%=h @microarray.organism.name %>
</p>

<p>
  <b>Application:</b>
  <%=h @microarray.application.name %>
</p>
<p>
  <b>Platform:</b>
  <%=h @microarray.platform.name %>
</p>

<p>
  <b>Catalog number:</b>
  <%=h @microarray.catalog_number %>
</p>


<%= link_to 'Edit', edit_microarray_path(@microarray) %> |
<%= link_to 'Back', microarrays_path %>
