<h1>Editing hybridization_option</h1>

<% form_for(@hybridization_option) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :internal_price %><br />
    <%= f.text_field :internal_price %>
  </p>
  <p>
    <%= f.label :nonprofit_price %><br />
    <%= f.text_field :nonprofit_price %>
  </p>
  <p>
    <%= f.label :commercial_price %><br />
    <%= f.text_field :commercial_price %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hybridization_option %> |
<%= link_to 'Back', hybridization_options_path %>